@model ApplicationCore.Entities.Product

@{
    ViewData["Title"] = "Create";
}

@section Style {
    <link rel="stylesheet" href="/css/create.css" />
}

<h1>Create</h1>

<h4>Product</h4>

<form asp-action="Create">
    <div>
        Product Title: <input asp-for="Title" />
    </div>
    <div>
        Price: £<input asp-for="Price" />
    </div>
    <div>
        Quantity: <input asp-for="Quantity" />
    </div>
    <div id="description">
        Description: <input asp-for="Description" />
    </div>
    <div>
        Seller Name: <input asp-for="Seller" />
    </div>
    <div>
        <input type="submit" value="Create">
    </div>
</form>
