@model Ganges.ApplicationCore.Entities.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form asp-action="Edit">
    <div>
        <input type="hidden" asp-for="Id" />
    </div>
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
    </div>
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" />
    </div>
    <div>
        <label asp-for="Seller"></label>
        <input asp-for="Seller" />
    </div>
    <div>
        <label asp-for="Price"></label>
        <input asp-for="Price" />
    </div>
    <div>
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" />
    </div>
    <div>
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" />
    </div>
    <input type="submit" value="Save" />
</form>