body {
    font-size: 1em;
}

#product div .column {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
}


/************** first column *****************/

#product div .column:first-child {
    width: 30%;
}

#product img {
    height: auto;
    max-width: 100%;
}

/************** second column *********************/

#product div .column:nth-child(2) {
    width: 69%;
}

#product p {
    border-bottom: 1px solid rgb(201, 201, 201);
    font-family: Arial;
}

#product #productTitle {
    font-size: 1.5em;
}

#product #productPrice {
    color: rgb(75, 75, 75);
}

#product #productPrice span {
    color: rgb(182, 7, 7);
    font-size: 1.2em;
}

#product #productQuantity span {
    color: rgb(75, 75, 75);
}

#product #productDescription span {
    font-weight: bold;
}