<h1>Products</h1>

<p>The product data shown here is fetched from the server.</p>


<div *ngIf="(products$ | async) as products;">

    <ul>
        <li *ngFor="let product of products">
            <div>
                <a routerLink="/products/{{product.id}}"><img src="assets/{{product.imageUrl}}"/></a>
            </div>
            <div>
                <p id="productTitle"><a routerLink="/products/{{product.id}}">{{ product.title }}</a></p>
                <p id="productSeller">Seller: {{ product.seller }}</p>
                <p id="productPrice"><a routerLink="/products/{{product.id}}">{{ product.price | currency }}</a></p>
                <p id="productDelivery">FREE Delivery</p>
            </div>
        </li>
    </ul>

</div>