<h1>Products</h1>

<p>The product data shown here is fetched from the server.</p>


<div *ngIf="(products$ | async) as products;">

    <ul>
        <li *ngFor="let product of products">
            <div>
                <img src="assets/{{product.imageUrl}}"/>
            </div>
            <div>
                <p>{{ product.id }}</p>
                <p><a routerLink="/products/{{product.id}}">{{ product.title }}</a></p>
                <p>{{ product.description }}</p>
                <p>{{ product.seller }}</p>
                <p>{{ product.price | currency }}</p>
                <p>{{ product.quantity }}</p>
            </div>
        </li>
    </ul>

</div>