<h1>Add a Product!</h1>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">

    <div>
        <p>Title: <input type="text" formControlName="title"></p>
    </div>
    
    <div>
        <p>Description: <input type="text" formControlName="description"></p>
    </div>

    <div>
        <p>Seller: <input type="text" formControlName="seller"></p>
    </div>

    <div>
        <p>Price: £<input type="number" formControlName="price"></p>
    </div>

    <div>
        <p>Quantity: <input type="number" formControlName="quantity"></p>
    </div>

    <button type="submit" [disabled]="!productForm.valid">Submit</button>

</form>