<h1>Products</h1>

<a routerLink="/add-product"><p>Add a product</p></a>

<div *ngIf="(products$ | async) as products; else loading">
    <ul>
        <li *ngFor="let product of products">
            <div>
                <a routerLink="/products/{{product.productId}}"><img src="assets/{{product.imageUrl}}"/></a>
            </div>
            <div>
                <p id="productTitle"><a routerLink="/products/{{product.productId}}">{{ product.title }}</a></p>
                <p id="productSeller">Seller: {{ product.seller }}</p>
                <p id="productPrice"><a routerLink="/products/{{product.productId}}">£{{ product.price }}</a></p>
                <p id="productDelivery">FREE Delivery</p>
            </div>
        </li>
    </ul>
</div>

<ng-template #loading>
    Loading...
</ng-template>