ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li {
    border-top: 1px solid grey;
    margin: 0px;
    padding: 0px;
}

li div {
    display: inline-block;
    border: 1px solid black;
    height: 100%;
}

li div:first-child {
    max-width: 20%;
}

li img {
    width: 100%;
    height: auto;
}