<h1>Basket</h1>

<div *ngIf="(products$ | async) as products;">
    <p id="priceHeading">Price</p>
    <div class="section" *ngFor="let product of products">
        <div>
            <img src="assets/{{product.imageUrl}}"/>
        </div>
        <div>
            <p id="productTitle"><a routerLink="/products/{{product.id}}">{{ product.title }}</a></p>
            <p id="productSeller">Sold by: {{ product.seller }}</p>
            <p id="productQuantity">Quantity: {{ product.quantity }}</p>
            <button (click)="removeFromBasket(product)">Remove</button>
        </div>
        <div>
            <p id="productPrice">£{{product.price}}</p>
        </div>
    </div>
    <p id="summary">Subtotal ({{ numberOfProducts$ | async }} items): <span>£{{ totalCost$ | async}}</span></p>
</div>