@model ApplicationCore.Models.Product

@{
    ViewData["Title"] = "Edit";
}

@section Style {
    <link rel="stylesheet" href="/css/edit.css" />
}

<h1>Edit</h1>

<form asp-action="Edit">
    <div>
        <input type="hidden" asp-for="ProductId" />
    </div>
    <div>
        Title: <input asp-for="Title" />
    </div>
    <div>
        Price: £<input asp-for="Price" />
    </div>
    <div>
        Quantity: <input asp-for="Quantity" />
    </div>
    <div id="description">
        Description: <input asp-for="Description" />
    </div>
    <div>
        Seller: <input asp-for="Seller" />
    </div>
    <input type="submit" value="Save" />
</form>