<h1>Add a Product!</h1>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">

    <div>
        Product Title:
        <input type="text" formControlName="title">
    </div>
    
    <div>
        Description:
        <input type="text" formControlName="description">
    </div>

    <div>
        Seller:
        <input type="text" formControlName="seller">
    </div>

    <div>
        Price:
        <input type="text" formControlName="price">
    </div>

    <div>
        Quantity:
        <input type="text" formControlName="quantity">
    </div>

    <div>
        ImageUrl:
        <input type="text" formControlName="imageUrl">
    </div>

    <button type="submit" [disabled]="!productForm.valid">Submit</button>

</form>