#product #image {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
    width: 25%;
    margin: none;
}

#product #image img {
    height: auto;
    max-width: 100%;
}

#product #productDetails {
    display: inline-block;
    padding: 1%;
    width: 75%;
    margin: none;
}

#product #productDetails p {
    border-bottom: 1px solid rgb(201, 201, 201);
    font-family: Arial;
}

#product #productDetails #productTitle {
    font-size: 1.5em;
}

#product #productDetails #productPrice {
    color: rgb(75, 75, 75);
}

#product #productDetails #productPrice span {
    color: rgb(182, 7, 7);
    font-size: 1.2em;
}

#product #productDetails #productQuantity span {
    color: rgb(75, 75, 75);
}

#product #productDetails #productDescription span {
    font-weight: bold;
}