#editButton {
    background-color:rgb(162, 162, 255);
    border: none;
    padding: 1% 5% 1% 5%;
    border-radius: 15px;
    width: 20%;
}

#editButton:hover {
    background-color: rgb(139, 139, 255);
}

#updateButton {
    background-color: rgb(0, 207, 0);
    margin-right: 10%;
    display: inline-block;
    border: none;
    padding: 1% 5% 1% 5%;
    border-radius: 15px;
}

#updateButton:hover {
    background-color: rgb(0, 175, 0);
}

#deleteButton {
    background-color: rgb(255, 108, 108);
    display: inline-block;
    border: none;
    padding: 1% 5% 1% 5%;
    border-radius: 15px;
}

#deleteButton:hover {
    background-color: red;
}

#product #image {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
    width: 25%;
    margin: none;
}

#product #image img {
    height: auto;
    max-width: 100%;
}

#product #productContent {
    display: inline-block;
    padding: 1%;
    width: 75%;
    margin: none;
}

#product #productContent div, form {
    margin: 0;
    padding: 0;
}

#product #productDetails p {
    border-bottom: 1px solid rgb(201, 201, 201);
    font-family: Arial;
}

#product #productDetails #productTitle {
    font-size: 1.5em;
}

#product #productDetails #productPrice {
    color: rgb(75, 75, 75);
}

#product #productDetails #productPrice span {
    color: rgb(182, 7, 7);
    font-size: 1.2em;
}

#product #productDetails #productQuantity span {
    color: rgb(75, 75, 75);
}

#product #productDetails #productDescription span {
    font-weight: bold;
}