<h1>Basket</h1>

<div *ngIf="(getProducts$() | async) as products;">
    <p id="priceHeading">Price</p>
    <div id="basket" *ngFor="let product of products">
        <div>
            <img src="assets/{{product.imageUrl}}"/>
        </div>
        <div>
            <p id="productTitle"><a routerLink="/products/{{product.productId}}">{{ product.title }}</a></p>
            <p id="productSeller">Sold by: {{ product.seller }}</p>
            <p id="productQuantity">Quantity in basket: {{ product.quantity }}</p>
            <button (click)="removeFromBasket(product)">Remove</button>
        </div>
        <div>
            <p id="productPrice">£{{product.price}}</p>
        </div>
    </div>
    <p id="summary">Subtotal ({{ getNumberOfProducts$() | async }} items): <span>£{{ getTotalCost$() | async}}</span></p>
</div>