@model ApplicationCore.Models.Basket

@{
    ViewData["Title"] = "Basket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Basket</h1>

<p>Basket Id: @Model.BasketId</p>

<p>Owner Id: @Model.OwnerID</p>

<p>Items in basket:</p>

<ul>
    @foreach(var basketItem in Model.BasketItems)
    {
        <li>Product ID: @basketItem.ProductId</li>
        <li>Product Quantity: @basketItem.ProductQuantity</li>
    }
</ul>